## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Determine the number of unique values in each column.
application_df.value_counts()

APPLICATION_TYPE  AFFILIATION       CLASSIFICATION  USE_CASE      ORGANIZATION  STATUS  INCOME_AMT     SPECIAL_CONSIDERATIONS  ASK_AMT   IS_SUCCESSFUL
T3                Independent       C1000           Preservation  Trust         1       0              N                       5000      1                3507
                  CompanySponsored  C1000           Preservation  Trust         1       0              N                       5000      0                1379
                                    C1200           Preservation  Association   1       0              N                       5000      0                1122
                  Independent       C1000           Preservation  Trust         1       0              N                       5000      0                1102
                                    C1200           Preservation  Trust         1       0              N                       5000      1                1052
                                                                                                                                                          ...
                                    C1000           Preservation  Trust         1       100000-499999  N                       140853    1                   1
                                                                                                                               140864    1                   1
                                                                                                                               140938    1                   1
                                                                                                                               140950    1                   1
T9                National          C1000           ProductDev    Co-operative  1       10M-50M        N                       42312554  1                   1
Length: 9622, dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
df2 = application_df.groupby('APPLICATION_TYPE')['APPLICATION_TYPE'].agg(count='count')
df2 = df2.loc[df2['count'] <= 3].reset_index()
# Replace in dataframe
application_types_to_replace = application_df1['APPLICATION_TYPE']

In [27]:
application_types_to_replace

0    T14
1    T15
2    T17
3    T25
4    T29
Name: APPLICATION_TYPE, dtype: object

In [28]:
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [29]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [32]:
# You may find it helpful to look at CLASSIFICATION value counts >1
attr = 'CLASSIFICATION'
limit = 1
df2 = application_df.groupby(attr)[attr].agg(count='count')
df2 = df2.loc[df2['count'] <= limit].reset_index()
df2

   CLASSIFICATION  count
0           C1236      1
1           C1245      1
2           C1248      1
3           C1283      1
4           C1370      1
5           C1570      1
6           C1580      1
7           C1728      1
8           C1732      1
9           C1820      1
10          C1900      1
11          C2150      1
12          C2170      1
13          C2190      1
14          C2380      1
15          C2500      1
16          C2561      1
17          C2570      1
18          C2600      1
19          C3700      1
20          C4120      1
21          C4200      1
22          C4500      1
23          C5200      1
24          C6100      1
25          C8210      1

In [33]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = df2['CLASSIFICATION']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [65]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 7)                 616
_________________________________________________________________
dense_16 (Dense)             (None, 14)                112
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 15
=================================================================
Total params: 743
Trainable params: 743
Non-trainable params: 0
_________________________________________________________________

In [66]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [67]:
class CustomSaver(tf.keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs={}):
        if epoch % 5 == 0:  # or save after some epoch, each k-th epoch etc.
            self.model.save("epochs/model_{}.hd5".format(epoch))

In [68]:
# Train the model

saver = CustomSaver()
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.20, callbacks=[saver],epochs=100)

Train on 20579 samples, validate on 5145 samples
Epoch 1/100
20579/20579 [==============================] - 1s 39us/sample - loss: 0.6193 - acc: 0.6915 - val_loss: 0.5674 - val_acc: 0.7329
Epoch 2/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5681 - acc: 0.7230 - val_loss: 0.5563 - val_acc: 0.7366
Epoch 3/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5600 - acc: 0.7251 - val_loss: 0.5530 - val_acc: 0.7390
Epoch 4/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5560 - acc: 0.7281 - val_loss: 0.5525 - val_acc: 0.7380
Epoch 5/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5540 - acc: 0.7285 - val_loss: 0.5531 - val_acc: 0.7380
Epoch 6/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5523 - acc: 0.7283 - val_loss: 0.5516 - val_acc: 0.7388
Epoch 7/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5505 - acc: 0.7298 - val_loss: 0.5522 - val_acc: 0.7390
Epoch 8/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5499 - acc: 0.7303 - val_loss: 0.5525 - val_acc: 0.7392
Epoch 9/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5493 - acc: 0.7305 - val_loss: 0.5542 - val_acc: 0.7380
Epoch 10/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5487 - acc: 0.7311 - val_loss: 0.5513 - val_acc: 0.7396
Epoch 11/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5478 - acc: 0.7309 - val_loss: 0.5546 - val_acc: 0.7382
Epoch 12/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5478 - acc: 0.7320 - val_loss: 0.5527 - val_acc: 0.7376
Epoch 13/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5471 - acc: 0.7308 - val_loss: 0.5547 - val_acc: 0.7384
Epoch 14/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5462 - acc: 0.7325 - val_loss: 0.5520 - val_acc: 0.7392
Epoch 15/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5463 - acc: 0.7323 - val_loss: 0.5541 - val_acc: 0.7392
Epoch 16/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5463 - acc: 0.7316 - val_loss: 0.5525 - val_acc: 0.7396
Epoch 17/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5457 - acc: 0.7317 - val_loss: 0.5539 - val_acc: 0.7390
Epoch 18/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5454 - acc: 0.7320 - val_loss: 0.5532 - val_acc: 0.7388
Epoch 19/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5455 - acc: 0.7316 - val_loss: 0.5539 - val_acc: 0.7380
Epoch 20/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5448 - acc: 0.7329 - val_loss: 0.5527 - val_acc: 0.7368
Epoch 21/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5445 - acc: 0.7324 - val_loss: 0.5522 - val_acc: 0.7388
Epoch 22/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5446 - acc: 0.7317 - val_loss: 0.5547 - val_acc: 0.7378
Epoch 23/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5446 - acc: 0.7325 - val_loss: 0.5543 - val_acc: 0.7368
Epoch 24/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5450 - acc: 0.7312 - val_loss: 0.5549 - val_acc: 0.7380
Epoch 25/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5442 - acc: 0.7335 - val_loss: 0.5545 - val_acc: 0.7384
Epoch 26/100
20579/20579 [==============================] - 1s 33us/sample - loss: 0.5441 - acc: 0.7333 - val_loss: 0.5539 - val_acc: 0.7366
Epoch 27/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5443 - acc: 0.7319 - val_loss: 0.5533 - val_acc: 0.7382
Epoch 28/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5434 - acc: 0.7322 - val_loss: 0.5556 - val_acc: 0.7378
Epoch 29/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5440 - acc: 0.7332 - val_loss: 0.5539 - val_acc: 0.7366
Epoch 30/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5436 - acc: 0.7323 - val_loss: 0.5551 - val_acc: 0.7374
Epoch 31/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5440 - acc: 0.7337 - val_loss: 0.5551 - val_acc: 0.7374
Epoch 32/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5434 - acc: 0.7327 - val_loss: 0.5556 - val_acc: 0.7374
Epoch 33/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5436 - acc: 0.7338 - val_loss: 0.5561 - val_acc: 0.7355
Epoch 34/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5430 - acc: 0.7340 - val_loss: 0.5546 - val_acc: 0.7362
Epoch 35/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5433 - acc: 0.7336 - val_loss: 0.5581 - val_acc: 0.7355
Epoch 36/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5431 - acc: 0.7328 - val_loss: 0.5555 - val_acc: 0.7343
Epoch 37/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5432 - acc: 0.7325 - val_loss: 0.5579 - val_acc: 0.7364
Epoch 38/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5429 - acc: 0.7343 - val_loss: 0.5582 - val_acc: 0.7372
Epoch 39/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5423 - acc: 0.7342 - val_loss: 0.5597 - val_acc: 0.7347
Epoch 40/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5426 - acc: 0.7337 - val_loss: 0.5566 - val_acc: 0.7366
Epoch 41/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5427 - acc: 0.7333 - val_loss: 0.5590 - val_acc: 0.7368
Epoch 42/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5423 - acc: 0.7341 - val_loss: 0.5559 - val_acc: 0.7353
Epoch 43/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5423 - acc: 0.7341 - val_loss: 0.5575 - val_acc: 0.7364
Epoch 44/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5425 - acc: 0.7338 - val_loss: 0.5571 - val_acc: 0.7359
Epoch 45/100
20579/20579 [==============================] - 1s 33us/sample - loss: 0.5421 - acc: 0.7333 - val_loss: 0.5592 - val_acc: 0.7322
Epoch 46/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5423 - acc: 0.7339 - val_loss: 0.5592 - val_acc: 0.7378
Epoch 47/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5420 - acc: 0.7342 - val_loss: 0.5571 - val_acc: 0.7357
Epoch 48/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5419 - acc: 0.7348 - val_loss: 0.5610 - val_acc: 0.7364
Epoch 49/100
20579/20579 [==============================] - 1s 29us/sample - loss: 0.5419 - acc: 0.7346 - val_loss: 0.5589 - val_acc: 0.7353
Epoch 50/100
20579/20579 [==============================] - 1s 31us/sample - loss: 0.5419 - acc: 0.7335 - val_loss: 0.5587 - val_acc: 0.7364
Epoch 51/100
20579/20579 [==============================] - 1s 32us/sample - loss: 0.5418 - acc: 0.7354 - val_loss: 0.5585 - val_acc: 0.7366
Epoch 52/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5410 - acc: 0.7351 - val_loss: 0.5584 - val_acc: 0.7388
Epoch 53/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5414 - acc: 0.7344 - val_loss: 0.5589 - val_acc: 0.7362
Epoch 54/100
20579/20579 [==============================] - 1s 32us/sample - loss: 0.5412 - acc: 0.7356 - val_loss: 0.5577 - val_acc: 0.7359
Epoch 55/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5413 - acc: 0.7355 - val_loss: 0.5596 - val_acc: 0.7347
Epoch 56/100
20579/20579 [==============================] - 1s 32us/sample - loss: 0.5413 - acc: 0.7348 - val_loss: 0.5571 - val_acc: 0.7357
Epoch 57/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5411 - acc: 0.7352 - val_loss: 0.5584 - val_acc: 0.7326
Epoch 58/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5410 - acc: 0.7340 - val_loss: 0.5582 - val_acc: 0.7364

Epoch 59/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5411 - acc: 0.7354 - val_loss: 0.5584 - val_acc: 0.7372
Epoch 60/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5408 - acc: 0.7356 - val_loss: 0.5606 - val_acc: 0.7353
Epoch 61/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5406 - acc: 0.7335 - val_loss: 0.5585 - val_acc: 0.7359
Epoch 62/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5411 - acc: 0.7345 - val_loss: 0.5571 - val_acc: 0.7372
Epoch 63/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5409 - acc: 0.7349 - val_loss: 0.5597 - val_acc: 0.7362
Epoch 64/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5407 - acc: 0.7358 - val_loss: 0.5570 - val_acc: 0.7345
Epoch 65/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5406 - acc: 0.7357 - val_loss: 0.5572 - val_acc: 0.7359
Epoch 66/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5410 - acc: 0.7347 - val_loss: 0.5580 - val_acc: 0.7355
Epoch 67/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5408 - acc: 0.7348 - val_loss: 0.5583 - val_acc: 0.7359
Epoch 68/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5410 - acc: 0.7343 - val_loss: 0.5577 - val_acc: 0.7351
Epoch 69/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5405 - acc: 0.7363 - val_loss: 0.5572 - val_acc: 0.7361
Epoch 70/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5405 - acc: 0.7340 - val_loss: 0.5587 - val_acc: 0.7333
Epoch 71/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5405 - acc: 0.7351 - val_loss: 0.5596 - val_acc: 0.7316
Epoch 72/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5402 - acc: 0.7346 - val_loss: 0.5585 - val_acc: 0.7361
Epoch 73/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5404 - acc: 0.7360 - val_loss: 0.5579 - val_acc: 0.7347
Epoch 74/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5404 - acc: 0.7340 - val_loss: 0.5573 - val_acc: 0.7345
Epoch 75/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5403 - acc: 0.7347 - val_loss: 0.5588 - val_acc: 0.7337
Epoch 76/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5401 - acc: 0.7354 - val_loss: 0.5596 - val_acc: 0.7368
Epoch 77/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5403 - acc: 0.7359 - val_loss: 0.5594 - val_acc: 0.7368
Epoch 78/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5401 - acc: 0.7352 - val_loss: 0.5574 - val_acc: 0.7364
Epoch 79/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5401 - acc: 0.7357 - val_loss: 0.5578 - val_acc: 0.7357
Epoch 80/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5400 - acc: 0.7359 - val_loss: 0.5597 - val_acc: 0.7353
Epoch 81/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5398 - acc: 0.7354 - val_loss: 0.5588 - val_acc: 0.7364
Epoch 82/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5401 - acc: 0.7348 - val_loss: 0.5605 - val_acc: 0.7376
Epoch 83/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5398 - acc: 0.7362 - val_loss: 0.5587 - val_acc: 0.7359
Epoch 84/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5396 - acc: 0.7354 - val_loss: 0.5600 - val_acc: 0.7357
Epoch 85/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5397 - acc: 0.7356 - val_loss: 0.5598 - val_acc: 0.7372
Epoch 86/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5397 - acc: 0.7346 - val_loss: 0.5585 - val_acc: 0.7353
Epoch 87/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5398 - acc: 0.7356 - val_loss: 0.5576 - val_acc: 0.7355
Epoch 88/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5393 - acc: 0.7360 - val_loss: 0.5611 - val_acc: 0.7355
Epoch 89/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5396 - acc: 0.7351 - val_loss: 0.5592 - val_acc: 0.7362
Epoch 90/100
20579/20579 [==============================] - 1s 30us/sample - loss: 0.5396 - acc: 0.7360 - val_loss: 0.5589 - val_acc: 0.7368
Epoch 91/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5395 - acc: 0.7353 - val_loss: 0.5603 - val_acc: 0.7353
Epoch 92/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5397 - acc: 0.7360 - val_loss: 0.5590 - val_acc: 0.7361
Epoch 93/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5395 - acc: 0.7358 - val_loss: 0.5592 - val_acc: 0.7349
Epoch 94/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5397 - acc: 0.7361 - val_loss: 0.5634 - val_acc: 0.7366
Epoch 95/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5394 - acc: 0.7360 - val_loss: 0.5596 - val_acc: 0.7353
Epoch 96/100
20579/20579 [==============================] - 1s 28us/sample - loss: 0.5396 - acc: 0.7348 - val_loss: 0.5579 - val_acc: 0.7353
Epoch 97/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5395 - acc: 0.7354 - val_loss: 0.5608 - val_acc: 0.7364
Epoch 98/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5391 - acc: 0.7356 - val_loss: 0.5590 - val_acc: 0.7370
Epoch 99/100
20579/20579 [==============================] - 1s 27us/sample - loss: 0.5394 - acc: 0.7347 - val_loss: 0.5577 - val_acc: 0.7339
Epoch 100/100
20579/20579 [==============================] - 1s 26us/sample - loss: 0.5394 - acc: 0.7356 - val_loss: 0.5599 - val_acc: 0.7366

In [69]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.5571287636576171, Accuracy: 0.72967928647995

In [87]:
# Export our model to HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity.h5')

In [ ]:
files.download('AlphabetSoupCharity.h5')